.header {
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.navigation {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Aladin', cursive, 'Berkshire Swash', cursive, 'Fondamento', cursive;
    font-size: xxx-large;
    border-bottom: 1px solid black;
    background-color: #4343434a;
}

.title {
    border-bottom: .5px solid #0000003b
}

.category-container {
    background: #ffebcd00;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
button {
    cursor: pointer;
    width: 100px;
    height: 40px;
}