.header {
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.navigation {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}